# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nubia.device.rc
# For all nubia projects defined in device/zte

on boot
   # goodix fp
   chown system system /dev/goodix_fp
   chmod 0777 /dev/goodix_fp
    
on post-fs-data
    # goodix double fp
    chown system system /dev/goodix_fp_l
        chmod 0777 /dev/goodix_fp_l
    chown system system /dev/goodix_fp_r
        chmod 0777 /dev/goodix_fp_r
    setprop ro.hardware.fingerprint goodix

    # tp & lcd node
    mkdir /data/tp 0775 system system
    mkdir /data/tp/debug 0775 system system
    chown system system /sys/kernel/lcd_enhance/cabc
    chown system system /sys/kernel/lcd_enhance/aod_mode
    chown system system /sys/kernel/lcd_enhance/lcd_state
    chown system system /sys/kernel/lcd_enhance/rgbw_mode

service goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user root
    oneshot
